.inputContact {
    border: none;
    padding: $pd-0;
    margin-left: 10px;
    outline: none;      
}

.inputBox {
    border: 1px solid $color-dark-1;
    border-radius: $radius-1;
    padding: $pd-3;
    .fas {
        font-size: $fs-1;
        color: $color-pink-1;
        padding-bottom: $pd-0;        
    }
}

.inputContact-2 {    
    transition: all 0.2s;
    background-color: transparent;
    width: 100%;
    padding: $pd-4;
    text-align: center;
    border: 0.5px solid $color-border-1;
    border-radius: $radius-4;
    margin-bottom: $mg-5;
    &:hover {
        border: 0.5px solid $color-border-2;
    }
    &:focus {
        outline: none;
      }
}